@CHARSET "UTF-8";

html, body
{
	margin: 0px;
	padding: 0px;
	height: 100%;
}

body
{
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	font-size: 13px;
	line-height: 20px;
	height: 100%;
	min-height: 100%;
}

input[type="checkbox"], input[type="radio"]
{
	border: none;
	background: none;
	vertical-align: middle;
	margin: 3px 2px;
}

input[type="submit"], input[type="button"]
{
	-moz-box-shadow: INSET 1px 1px 0px #f5f5f5, INSET -1px -1px 0px #c9c9c9;
	-webkit-box-shadow: INSET 1px 1px 0px #f5f5f5, INSET -1px -1px 0px #c9c9c9;
	box-shadow: INSET 1px 1px 0px #f5f5f5, INSET -1px -1px 0px #c9c9c9;
	
	background: -webkit-gradient( linear, left top, left bottom, color-stop( 0.05, #ededed ), color-stop( 1, #dfdfdf ) );
	background: -moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	background: -o-linear-gradient( rgb( 237, 237, 237 ), rgb( 223, 223, 223 ) );
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#dfdfdf' );
	background-color: #ededed;
	
	border-width: 1px;
	border-style: SOLID;
	border-left-color: #dedede;
	border-top-color: #dedede;
	border-right-color: #777777;
	border-bottom-color: #777777;
	
	color: #4d4d4d;
	font-family: inherit;
	font-size: 115%;
	text-decoration: none;
	text-shadow: 1px 1px 0px #ffffff;
	
	height: 29px;
	padding-left: 8px;
	padding-right: 8px;
}

input[type="submit"]:hover, input[type="button"]:hover
{
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e4e4e4), color-stop(1, #dbdbdb) );
	background: -moz-linear-gradient( center top, #e4e4e4 5%, #dbdbdb 100% );
	background: -o-linear-gradient( rgb( 228, 228, 228 ), rgb( 219, 219, 219 ) );	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4e4e4', endColorstr='#dbdbdb');
	background-color: #e4e4e4;
	
	color: #282828;
}

input[type="submit"]:active, input[type="button"]:active
{
	position: relative;
	top: 1px;
	left: 1px;
	
	-moz-box-shadow: INSET 1px 1px 0px #c9c9c9, INSET -1px -1px 0px #e8e8e8;
	-webkit-box-shadow: INSET 1px 1px 0px #c9c9c9, INSET -1px -1px 0px #e8e8e8;
	box-shadow: INSET 1px 1px 0px #c9c9c9, INSET -1px -1px 0px #e8e8e8;	
	
	border-width: 1px;
	border-style: SOLID;
	border-left-color: #777777;
	border-top-color: #777777;
	border-right-color: #dedede;
	border-bottom-color: #dedede;
}

input[type="text"], input[type="password"]
{
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #ffffff) );
	background: -moz-linear-gradient( center top, #f9f9f9 5%, #ffffff 100% );
	background: -o-linear-gradient( top, rgb( 249, 249, 249 ), rgb( 255, 255, 255 ) );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#ffffff');
	background-color: #ffffff;

	border: 1px SOLID #d1c7ac;
	color: #333333;
	padding: 2px;
	margin: 0px;
}

a
{
	text-decoration: none;
	color: #27377d;
}

a:hover
{
	text-decoration: underline;
}

textarea
{
	width: 100%;
	height: 400px;
	border: 1px SOLID #e0e0e0;
	padding: 0px;
	resize: none;
	outline: none;
	-webkit-appearance: none;
}

#syntax>.header
{
	text-align: center;
	background-color: #94cff5;
	color: #000;
}

#header
{
	font-size: 18px;
	height: 35px;
	padding-top: 15px;
	text-align: center;
	color: #000;
	
	background: #fafafa; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZhZmFmYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwJSIgc3RvcC1jb2xvcj0iI2RjZGNkYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjkwJSIgc3RvcC1jb2xvcj0iI2RjZGNkYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmYWZhZmEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left,  #fafafa 0%, #dcdcdc 10%, #dcdcdc 90%, #fafafa 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#fafafa), color-stop(10%,#dcdcdc), color-stop(90%,#dcdcdc), color-stop(100%,#fafafa)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #fafafa 0%,#dcdcdc 10%,#dcdcdc 90%,#fafafa 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #fafafa 0%,#dcdcdc 10%,#dcdcdc 90%,#fafafa 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #fafafa 0%,#dcdcdc 10%,#dcdcdc 90%,#fafafa 100%); /* IE10+ */
	background: linear-gradient(left,  #fafafa 0%,#dcdcdc 10%,#dcdcdc 90%,#fafafa 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#fafafa',GradientType=1 ); /* IE6-8 */
}

.small
{
	font-size: 10px;
	color: #666;
}

#menu
{
	text-align: center;
	padding: 7px 0px;
	border-bottom: 1px SOLID #f2f2f2;
	margin-bottom: 10px;
}

#holder
{
	position: relative;
	margin: 0px auto -35px auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	width: 920px;
	
	background-color: #FAFAFA;
	-moz-box-shadow: 0 0 10px 10px #fafafa;
	-webkit-box-shadow: 0 0 10px 10px #fafafa;
	box-shadow: 0 0 10px 10px #fafafa;
}

#main
{
	padding: 5px;
}

#result
{
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 910px;
	border: 1px SOLID #c1e9c3 !important;
	-moz-box-shadow: inset 0 0 10px 10px #d6f4d8;
	-webkit-box-shadow: inset 0 0 10px 10px #d6f4d8;
	box-shadow: inset 0 0 10px 10px #d6f4d8;
	background: #f9fff9 url( /css/padlock.png ) 100% 2px no-repeat;
	color: #909090;
	overflow: hidden;
}

#askpassword
{
	display: none;
	padding-top: 25px;
	margin: 0px auto;
	text-align: center;
}

#insertkey
{
	display: none;
	padding-top: 25px;
	margin: 0px auto;
	text-align: center;
}

#execute
{
	float: right;
	height: 15px;
	font-size: 10px;
	color: #CECECE;
}

#push
{
	height: 40px;
	clear: both;
}

#footer
{
	position: absolute;
	height: 25px;
	width: 920px;
	margin: 0px auto;
	padding-top: 10px;
	text-align: center;
	color: #000;
	bottom: 0px;
	
	background: #fafafa; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZhZmFmYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwJSIgc3RvcC1jb2xvcj0iI2RjZGNkYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjkwJSIgc3RvcC1jb2xvcj0iI2RjZGNkYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmYWZhZmEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left,  #fafafa 0%, #dcdcdc 10%, #dcdcdc 90%, #fafafa 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#fafafa), color-stop(10%,#dcdcdc), color-stop(90%,#dcdcdc), color-stop(100%,#fafafa)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #fafafa 0%,#dcdcdc 10%,#dcdcdc 90%,#fafafa 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #fafafa 0%,#dcdcdc 10%,#dcdcdc 90%,#fafafa 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #fafafa 0%,#dcdcdc 10%,#dcdcdc 90%,#fafafa 100%); /* IE10+ */
	background: linear-gradient(left,  #fafafa 0%,#dcdcdc 10%,#dcdcdc 90%,#fafafa 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#fafafa',GradientType=1 ); /* IE6-8 */
}